/* Place your CSS styles in this file */
body {
    background-color: powderblue;
}
h1 {
    font-family: "Brush Script MT", cursive;
}
h2 {
    font-family: "Georgia", sans-serif;
}
p {
	font-family: "Georgia", sans-serif;
}
