body{
	background-color:powderblue;
}
#morningTT{
	height: 46vw;
	overflow: scroll;
}
#afternoonTT{
	width: 40vw;
	overflow: scroll;
}
.morningTTContainer {
    width: 90vw;
    height: 80vh;
    overflow: scroll;
}
.morningTTContainer img {
    zoom: 50%;
    display: block;
}
.afternoonTTContainer{
	width: 75vw;
    height: 50vh;
	overflow: scroll;
}
.afternoonTTContainer img{
	width: 75vw;
    height: auto;
}
#TermsTests{
	width: 40vw;
}
#excel{
	width: 80vw;
	height: 46vw;
}

